.gitignore
.vscode
npm-debug.log*
node_modules
index.spec.js
package-lock.json
example
images
index.js
rollup.config.js
babel.config.js

output/navix.umd.js
output/navix.umd.js.map
output/navix.umd.min.js
output/navix.umd.min.js.map