.animating::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  animation: anime .7s;
}

@keyframes anime {
  from {
    background-color: rgb(222, 222, 222);
    opacity: 1;
    width: 100%;
    hegiht: 100%;
  }
  to {
    background-color: transparent;
    opacity: 0;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
  }
}

.funcName {
  transition: opacity .1s;
  color: rgb(31, 177, 189);
  transform: translateY(45px);
  font-weight: 300;
}

.fb {
  border-radius: 50%;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 1;
  transition: opacity .1s;
  animation: tint .5s linear alternate infinite;
}

.r {
  animation: reboundR .2s linear;
}

.l {
  animation: reboundL .2s linear;
}

.u {
  animation: reboundU .2s linear;
}

.d {
  animation: reboundD .2s linear;
}

.op {
  opacity: 0;
}

.fb::after {
  content: "";
  position: absolute;
  inset: 4px;
  border-radius: 50%;
  border: 5px solid white;
}

@keyframes tint{
  0%   { border: 4px solid #80f3d9; }
  100% { border: 4px solid #50afcc; }
}

@keyframes reboundR {
  0%   { transform: translateX(0); }
  2%  { transform: translateX(7px); }
  35%  { transform: translateX(-4px); } /* 往回一点 */
  60%  { transform: translateX(3px); } /* 又弹出去 */
  80%  { transform: translateX(-2px); }
  100% { transform: translateX(0); }     /* 回到起点 */
}

@keyframes reboundL {
  0%   { transform: translateX(0); }
  2%  { transform: translateX(-7px); }
  35%  { transform: translateX(4px); } /* 往回一点 */
  60%  { transform: translateX(-3px); } /* 又弹出去 */
  80%  { transform: translateX(2px); }
  100% { transform: translateX(0); }     /* 回到起点 */
}

@keyframes reboundU {
  0%   { transform: translateY(0); }
  2%  { transform: translateY(7px); }
  35%  { transform: translateY(-4px); } /* 往回一点 */
  60%  { transform: translateY(3px); } /* 又弹出去 */
  80%  { transform: translateY(-2px); }
  100% { transform: translateY(0); }     /* 回到起点 */
}

@keyframes reboundD {
  0%   { transform: translateY(0); }
  2%  { transform: translateY(-7px); }
  35%  { transform: translateY(4px); } /* 往回一点 */
  60%  { transform: translateY(-3px); } /* 又弹出去 */
  80%  { transform: translateY(2px); }
  100% { transform: translateY(0); }     /* 回到起点 */
}