.btn {
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 3px inset white;
}

.btn.a {
  animation: anime0 .2s;
}

.animeP {
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent),
              linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
  mask-composite: intersect;
  opacity: .5;
}

.animeP.a2 {
  animation: anime 1s;
  /* https://easingwizard.com/ */
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.gameName {
  transition: opacity .1s;
  color: rgb(31, 177, 189);
  transform: translateY(-50px);
}

.fb {
  border-radius: 2px;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 1;
  transition: opacity .1s;
  animation: tint .5s linear alternate infinite;
  /* , rebound .2s linear */
}

.r {
  animation: reboundR .2s linear;
}

.l {
  animation: reboundL .2s linear;
}

.u {
  animation: reboundU .2s linear;
}

.d {
  animation: reboundD .2s linear;
}

.op {
  opacity: 0;
}

.fb::after {
  content: "";
  position: absolute;
  inset: 4px;
  border: 4px solid white;
}

@keyframes anime0 {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(.97);
  }
  95% {
    transform: scale(1.02);
  }
  to {
    transform: scale(1);
  }
}

@keyframes anime {
  from {
    opacity: .5;
    transform: scale(1);
  }
  15% {
    opacity: .5;
  }
  to {
    opacity: 0;
    transform: scale(1.3);
  }
}

@keyframes tint{
  0%   { border: 4px solid #80f3d9; }
  100% { border: 4px solid #50afcc; }
}

@keyframes reboundR {
  0%   { transform: translateX(0); }
  2%  { transform: translateX(7px); }
  35%  { transform: translateX(-4px); } /* 往回一点 */
  60%  { transform: translateX(3px); } /* 又弹出去 */
  80%  { transform: translateX(-2px); }
  100% { transform: translateX(0); }     /* 回到起点 */
}

@keyframes reboundL {
  0%   { transform: translateX(0); }
  2%  { transform: translateX(-7px); }
  35%  { transform: translateX(4px); } /* 往回一点 */
  60%  { transform: translateX(-3px); } /* 又弹出去 */
  80%  { transform: translateX(2px); }
  100% { transform: translateX(0); }     /* 回到起点 */
}

@keyframes reboundU {
  0%   { transform: translateY(0); }
  2%  { transform: translateY(7px); }
  35%  { transform: translateY(-4px); } /* 往回一点 */
  60%  { transform: translateY(3px); } /* 又弹出去 */
  80%  { transform: translateY(-2px); }
  100% { transform: translateY(0); }     /* 回到起点 */
}

@keyframes reboundD {
  0%   { transform: translateY(0); }
  2%  { transform: translateY(-7px); }
  35%  { transform: translateY(4px); } /* 往回一点 */
  60%  { transform: translateY(-3px); } /* 又弹出去 */
  80%  { transform: translateY(2px); }
  100% { transform: translateY(0); }     /* 回到起点 */
}